.nav {
    height         : 50px;
    padding        : 10px;
    background     : #0a0a10;
    color          : #fff;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.nav ul {
    display        : flex;
    justify-content: center;
    align-items    : center;
    list-style     : none;
}

.nav ul li a {
    margin   : 5px 15px;
    font-size: 20px;
}